/* ===== RESET ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ===== VARIABLES DE MARCA ===== */
:root {
  --color-primary: #ff4df0;
  --color-dark: #0b0320;
  --color-dark-2: #100928;
  --color-dark-3: #1b003a;
  --color-text: #ffffff;
  --color-muted: rgba(255,255,255,0.65);

  --max-width: 1200px;
}

/* ===== FUENTE GLOBAL ===== */
body {
  font-family: 'Montserrat', sans-serif;
  /* background: var(--color-dark); */
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  line-height: 1.35;
}

/* ===== TITULOS ===== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 800;
}

p {
  margin: 0;
}

/* ===== LINKS ===== */
a {
  color: inherit;
  text-decoration: none;
}

/* ===== BOTONES BASE ===== */
button {
  font-family: inherit;
  cursor: pointer;
}

/* ===== SCROLLBAR PREMIUM ===== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-2);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}